<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Flat Login Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="/static/logincss/css/style.css">


</head>

<body>


<div class="container">
    <div class="info">
        <h1>研究资源共享平台</h1><span>Made by WZS</span>
    </div>
</div>
<div class="form">
    <div class="thumbnail"><img src="/static/logincss/css/hat.svg"/></div>
    <form class="register-form" action="/getregister" method="post">
        <input type="text" placeholder="用户名" name="username"/>
        <input type="password" placeholder="密码" name="pwd1"/>
        <input type="password" placeholder="确认密码" name="pwd2"/>
        <input type="text" placeholder="手机号" name="phone"/>
<!--        <button>create</button>-->
        <input type="submit" value="注册" style="background-color: #009788;color:white;font-size:1em;cursor: pointer;"/>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" action="/getlogin" method="post">
        <input type="text" placeholder="用户名" name="userid"/>
        <input type="password" placeholder="密码" name="password"/>
<!--        <button>aaa</button>-->
        <input type="submit" value="登录" style="background-color: #009788;color:white;font-size:1em;cursor: pointer;"/>
        <!--    <button>login-->

        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
</div>
<script src='/static/logincss/js/jquery.min.js'></script>



<script  src="/static/logincss/js/index.js"></script>




</body>

</html>